<% content_for :home_header do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Custom stickers <br>that kick ass.</h1>
      <p>Easy online ordering, 5 day turnaround and free online proofs. Free shipping.</p>

      <a href="/custom-stickers" class="btn btn-info btn-lg" id="shop-now-button">Shop Now</a>
      <a href="/products/sample-pack" class="btn btn-warning btn-lg" id="get-samples-button">Get Samples</a>
    </div>
  </div>
<% end %>

<section id="categories">
  <div class="list-inline">
      <li><a class="list-group-item" href="/custom-stickers">
        <div><img alt="Custom stickers" src="https://d1vje5lvs6ypii.cloudfront.net/assets/images/stores/sticker_mule/products/categories/custom-stickers-b70c2f89.png"></div>
        Custom stickers
      </a></li>
      <li><a class="list-group-item" href="/products/die-cut-stickers">
        <div><img alt="Die cut stickers" src="https://d1vje5lvs6ypii.cloudfront.net/assets/images/stores/sticker_mule/products/categories/die-cut-stickers-8c59f5ed.png"></div>
        Die cut stickers
      </a></li>
      <li><a class="list-group-item" href="/products/transfer-stickers">
        <div><img alt="Transfer stickers" src="https://d1vje5lvs6ypii.cloudfront.net/assets/images/stores/sticker_mule/products/categories/transfer-stickers-4ed3c8fd.png"></div>
        Transfer stickers
      </a></li>
      <li><a class="list-group-item" href="/custom-skins">
        <div><img alt="Device skins" src="https://d1vje5lvs6ypii.cloudfront.net/assets/images/stores/sticker_mule/products/categories/skins-cfba9461.png"></div>
        Custom skins
      </a></li>
  </div>
</section>

<section id="video" class="row">
  <div class="col-md-6 pull-left center">
    <div>
      <a href="//fast.wistia.net/embed/iframe/1zm67lm807?popover=true" class="wistia-popover[height=431,playerColor=7b796a,width=766]">
        <img alt="Video-thumb-en-d11d737e" src="https://d1vje5lvs6ypii.cloudfront.net/assets/images/stores/sticker_mule/shared/videos/video-thumb-en-d11d737e.png">
      </a>
    </div>
  </div>
  <div class="col-md-6 media-info">
    <h2>Free shipping, free online proofs, fast turnaround.</h2>
    <p>Sticker Mule is the fastest and easiest way to buy custom stickers. We offer free online proofs, 5 day turnaround and free UPS Ground shipping. With print runs starting at $49, we aim to be the Internet’s favorite sticker printer.</p>
  </div>
</section>


